$font-family: "Spoqa Han Sans Neo";

.captionStyle {
  font-family: $font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.bodyRegular {
  font-family: $font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin bodyBold {
  font-family: $font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h2Style {
  font-family: $font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}
