.uiButton {
    min-width: 65px;
    height: 20px;
    background-color: transparent;
    line-height: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}
