@import "@/styles/const.scss";

@mixin flexBasicSet($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin stateLabel($backgroundColor, $fontColor) {
  padding: 6px 10px;
  border-radius: 20px;
  background-color: $backgroundColor;
  color: $fontColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  border: none;

  @media screen and (max-width: $MOBILE) {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.content-wrap {
  width: 964px;
  margin: 0 auto;
  padding: 40px 0;
}

.application-list {
  margin: 60px 0 120px;
  @media (max-width: $MOBILE) {
    margin: 12px 0;
  }
}

.notice--head__name {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}

.list-wrap {
  margin-top: 32px;
  border-radius: 10px;
  border: 1px solid var(--gray20);
}

.list-header,
.list-content {
  @include flexBasicSet;
  align-items: center;
  height: 80px;

  > div {
    padding: 20px 12px;
  }

  > div:nth-of-type(1) {
    width: 228px;
  }

  > div:nth-of-type(2) {
    width: 300px;
  }

  > div:nth-of-type(3) {
    width: 200px;
  }
}

.list-content {
  line-height: 20px;
  border-bottom: 1px solid var(--gray20);
}

.list-header {
  background-color: var(--red10);
  border-radius: 10px 10px 0 0;
  line-height: 22px;
  height: 50px;
}

.list-footer {
  padding: 12px 0;
}

.btn-wrap {
  @include flexBasicSet($gap: 12px);
}

@media screen and (max-width: $TABLET) {
  .content-wrap {
    width: 680px;
  }
  .hourly-pay {
    display: none;
  }

  .list-header,
  .list-content {
    > div:nth-of-type(1) {
      width: 200px;
    }
    > div:nth-of-type(2) {
      width: 250px;
    }
  }
}
@media screen and (max-width: $MOBILE) {
  .content-wrap {
    width: 350px;
    padding: 12px 0;
  }

  .list-header,
  .list-content {
    > div:nth-of-type(1) {
      width: 160px;
    }
  }

  .notice--head__name {
    font-size: 20px;
    line-height: 24px;
  }

  .list-header {
    background-color: var(--red10);
    line-height: 16px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
  }

  .name {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
  }

  .work-hours {
    display: none;
  }
}
