.profile {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  height: calc(100vh - 100px); // header와 footer 높이를 빼줍니다.

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__section {
    border: 1px solid var(--gray20);
    border-radius: 8px;
    height: 217px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 1124px) {
      min-width: 680px;
    }

    @media (max-width: 767px) {
      min-width: 351px;
      height: 195px;
    }
  }

  &-description {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 20px;
  }
  &__button--wrapper {
    width: 346px;
  }
}
