.profile {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  height: calc(100vh - 100px); // header와 footer 높이를 빼줍니다.

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__section {
    border: 1px solid var(--gray20);
    border-radius: 8px;
    height: 217px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 1124px) {
      min-width: 680px;
    }

    @media (max-width: 767px) {
      min-width: 351px;
      height: 195px;
    }
  }

  &-description {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 20px;
  }
  &__button--wrapper {
    width: 346px;
  }

  &__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(-gray20);
  }
  &__input-wrapper {
    display: flex;
    gap: 20px;
  }
  &__input__section {
    width: 350px;
    height: 92px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__label {
    font-size: 16px;
    font-weight: 400;
  }
  &__input {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #cbc9cf;
    padding: 16px 20px;
  }
  &__input__section-introduction {
    width: 100%;
    height: 187px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__input-introduction {
    width: 100%;
    height: 160px;
    border-radius: 6px;
    border: 1px solid #cbc9cf;
  }
}
