@import "@/styles/const.scss";
.wrapper {
  position: absolute;
  top: 35px;
  right: 0px;

  display: flex;
  padding: 24px 20px;
  flex-direction: column;
  align-items: center;
  width: 368px;
  gap: 8px;

  border-radius: 10px;
  border: 1px solid var(--gray20);
  background-color: var(--red10);
  box-shadow: 0px 0px 4px 0px rgba(95, 93, 93, 0.26);

  z-index: 100;
  cursor: auto;

  @media (max-width: $MOBILE) {
    top: 0px;
    position: fixed;
    box-shadow: none;
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }
}

.title {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.no_noti {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);

  @media (max-width: $MOBILE) {
    height: 100%;
  }
}

.styledCloseIcon {
  display: block;

  @media (max-width: $MOBILE) {
    display: block;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
