.customNotice__wrapper {
    width: 100%;
    background-color: var(--red10);
}

.customNotice__container {
    position: relative;
    max-width: 964px;
    height: 100%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.post__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
    justify-items: center;
}

//tablet
@media (max-width: 1199px) {
    .customNotice__container {
        margin: 0 32px;
    }
    .post__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
}

//mobile
@media (max-width: 767px) {
    .customNotice__container {
        margin: 0;
        padding: 40px 12px;
        width: 100%;
    }
    .post__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .title {
        font-size: 20px;
    }
}
