@import "@/styles/const.scss";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 100%;
  @include flex-column;
  align-items: center;

  @media (max-width: $TABLET) {
    padding: 40px 32px;
    flex-direction: column;
  }

  @media (max-width: $MOBILE) {
    padding: 40px 12px;
    flex-direction: column;
  }
}

.notice-list {
  background-color: var(--gray5);
}

.container {
  width: 964px;
  padding: 60px 0;

  @media (max-width: $TABLET) {
    width: 100%;
    padding: 0 0 60px 0;
  }
}

.header {
  width: 30%;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;

  @media (max-width: $MOBILE) {
    font-size: 20px;
  }
}
.info-wrapper {
  width: 100%;
  height: 356px;
  background-color: var(--red10);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $TABLET) {
    width: 100%;
    height: 677px;
    flex-direction: column;
  }

  @media (max-width: $MOBILE) {
    height: 450px;
  }
}
.info {
  @include flex-column;
  width: 346px;
  height: 100%;
  justify-content: space-between;
  padding-top: 16px;

  @media (max-width: $TABLET) {
    width: 100%;
  }
}
.details {
  @include flex-column;
  gap: 12px;
}
.detail-name {
  @include flex-column;
  gap: 12px;
}
.name-section {
  @include flex-column;
  gap: 8px;
}
.name {
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
}
.my-name {
  font-weight: 700;
  font-size: 28px;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $TABLET) {
    max-width: 900px;
  }
}
.detail {
  color: var(--gray50);
  display: flex;
  gap: 6px;
  align-items: center;
}
.notice-info__img {
  position: relative;
  width: 539px;
  height: 308px;
  border-radius: 12px;
  overflow: hidden;

  @media (max-width: $TABLET) {
    width: 100%;
    height: 100%;
  }
}
.bio {
  line-height: 26px;
  height: 130px;
  font-size: 16px;
  font-weight: 400;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--red30);
    border-radius: 10px;
  }
  @media (max-width: $MOBILE) {
    height: 80px;
    margin-bottom: 10px;
  }
}
.button-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
}
.notice {
  width: 964px;
  height: 217px;
  border: 1px solid var(--gray20);
  border-radius: 12px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $TABLET) {
    width: 100%;
    flex-direction: column;
  }

  @media (max-width: $MOBILE) {
  }
}

.notice-wrapper {
  width: 346px;
  gap: 24px;
  @include flex-column;
  align-items: center;

  @media (max-width: $TABLET) {
    flex-direction: column;
  }

  @media (max-width: $MOBILE) {
    width: 150px;
  }
}
