.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    width: 167px;
  }
}
