@import "@/styles/const.scss";

@mixin flexBasicSet($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin stateBtn($color) {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--white);
  font-weight: 700;
  line-height: 17.53px;
  border: 1px solid $color;
  color: $color;
  cursor: pointer;

  @media screen and (max-width: $MOBILE) {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

@mixin stateLabel($backgroundColor, $fontColor) {
  padding: 6px 10px;
  border-radius: 20px;
  background-color: $backgroundColor;
  color: $fontColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  border: none;

  @media screen and (max-width: $MOBILE) {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.content-wrap {
  width: 964px;
  margin: 0 auto;
  padding: 40px 32px;
}

.application-list {
  margin: 60px 0 120px;
}

.notice--head__name {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}

.list-wrap {
  margin-top: 32px;
  border: 1px solid var(--gray20);
  border-radius: 10px;
  overflow: hidden;

  li {
    display: flex;
    align-items: center;
    line-height: 26px;
    border: 1px solid var(--gray20);
  }
}

.list-header,
.list-content {
  @include flexBasicSet;
  > div {
    padding: 20px 12px;
  }

  > div:nth-of-type(1) {
    width: 228px;
  }

  > div:nth-of-type(2) {
    width: 300px;
  }

  > div:nth-of-type(3) {
    width: 200px;
  }
}
.pagination-wrapper {
  @include flexBasicSet;
  padding: 12px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.list-header {
  background-color: var(--red10);
  line-height: 22px;
}

.list-footer {
  padding: 12px 0;
}

.btn-wrap {
  @include flexBasicSet($gap: 12px);
}

.state-btn-reject {
  @include stateBtn(var(--primary));
}

.state-btn-approve {
  @include stateBtn(var(--blue20));
}

.state-reject {
  @include stateLabel(var(--red10), var(--red40));
}

.state-approve {
  @include stateLabel(var(--blue10), var(--blue20));
}

@media screen and (max-width: $TABLET) {
  .content-wrap {
    width: 680px;
  }
  .phone {
    display: none;
  }

  .list-header,
  .list-content {
    > div:nth-of-type(1) {
      width: 200px;
    }
    > div:nth-of-type(2) {
      width: 250px;
    }
  }
}
@media screen and (max-width: $MOBILE) {
  .content-wrap {
    width: 350px;
  }

  .list-header,
  .list-content {
    > div:nth-of-type(1) {
      width: 160px;
    }
  }

  .notice--head__name {
    font-size: 20px;
    line-height: 24px;
  }

  .list-header {
    background-color: var(--red10);
    line-height: 16px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
  }

  .name {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
  }

  .intro {
    display: none;
  }
}
