@import "@/styles/const.scss";
.wrapper {
  display: flex;
  gap: 6px;
  width: 328px;
  padding: 16px 12px;
  border-radius: 5px;
  border: 1px solid var(--gray20);
  background: var(--white);

  @media (max-width: $MOBILE) {
    width: 335px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.circle {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.result {
  font-weight: 700;
}

.notifiText {
  color: var(--black);
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}

.elapsedTime {
  color: var(--gray40);
  text-align: left;
  font-size: 12px;
}
