@mixin flexBasicSet($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

.content-wrap {
  width: 964px;
  margin: 0 auto;
  height: 1000px;
  border: solid 1px black;
}
