@mixin flexBasicSet($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

.content-wrap {
  width: 964px;
  margin: 0 auto;
}

.notice--head__name {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}

.applicant-list {
  margin: 120px 0 120px;
}
