.dropdown {
  position: relative;
  width: 308px;
  height: 58px;
  @media (max-width: 1124px) {
    width: 330px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}
.dropdown__inputWrapper {
  position: relative;
  width: 100%;
  height: 52px;
}
.dropdown__input {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #cbc9cf;
  padding: 16px 20px;

  &:focus {
    color: #a4a1aa;
  }
}
.dropdown__icon {
  position: absolute;
  top: 40%;
  right: 10%;
  transform: translate(-50%);
}
.dropdown__optionBox {
  background-color: var(--white);
  border-radius: 8px;
  height: 230px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 12px 0;
  text-align: center;
  list-style-type: none;
  border: 1px solid #e5e4e7;
  border-top: none;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  z-index: 1;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    height: 10%;
    scrollbar-width: 4px;
    background-color: #7d7986;
    border-radius: 4px;
  }
}

.dropdown__option {
  background-color: var(--white);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 12px;
  z-index: 1;

  &:not(:last-child) {
    border-bottom: 1px solid #e5e4e7;
  }
}
