:root {
    --black: #111322;
    --gray50: #7d7986;
    --gray40: #a4a1aa;
    --gray30: #cbc9cf;
    --gray20: #e5e4e7;
    --gray10: #f2f2f3;
    --gray5: #fafafa;
    --white: #ffffff;
    --red40: #ff4040;
    --red30: #ff8d72;
    --red20: #ffaf9b;
    --red10: #ffebe7;
    --blue20: #0080ff;
    --blue10: #cce6ff;
    --green20: #20a81e;
    --green10: #d4f7d4;
    --kakao: #fee500;
    font-family: "NanumSquareNeo", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot");
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix")
            format("embedded-opentype"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2")
            format("woff2"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff") format("woff"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf")
            format("truetype");
    font-display: swap;
}
