@import "@/styles/const.scss";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  width: 964px;
  padding: 60px 0;

  @media (max-width: $TABLET) {
    width: 100%;
    padding: 0 0 60px 0;
  }
}

.header {
  width: 30%;
}
.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;

  @media (max-width: $MOBILE) {
    font-size: 20px;
  }
}
.notice {
  width: 964px;
  height: 217px;
  border: 1px solid var(--gray20);
  border-radius: 12px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $TABLET) {
    width: 100%;
    flex-direction: column;
  }

  @media (max-width: $MOBILE) {
  }
}

.notice-wrapper {
  width: 346px;
  gap: 24px;
  @include flex-column;
  align-items: center;

  @media (max-width: $TABLET) {
    flex-direction: column;
  }

  @media (max-width: $MOBILE) {
    width: 150px;
  }
}

.button-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
}

.my-notice-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  overflow: hidden;
  width: 100%;
  transition: transform 0.5s ease;
  justify-items: center;
}
